:root {
    --primero: #0C7B85;
    --segundo: #0FA3B1;
    --tercero: #62C3D6;
    --cuarto: #B5E2FA;
    --quinto: #F9F7F3;
    --sexto: #F3EBCC;
    --septimo: #F2BF8B;
    --octavo: #F7A072;
    --negro: black;
    --blanco: white;
}

#todo {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: 'Inknut Antiqua', serif;
}

#fotoHeader {
    width: 110px;
    position: relative;
    top: 8px;
}

header {
    background-color: var(--segundo);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 38%;
    height: 110px;
}


#icons {
    position: relative;
    top: 7px;
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#logoTitulo h1 {
    position: relative;
    top: 3px;
}
#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 20px;
}

footer h2{
    position: relative;
    left: 11.5%;
}

footer {
    height: 80px;
    background-color: var(--tercero);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    position: relative;
    bottom: -16px;
}

#logoTitulo {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 20px;
}

#imgPerfilSuperior {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#perfil {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorCarrera {
    width: 110%;
    height: 703px;
    border-radius: 30px;
    background-color: var(--negro);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    color: var(--blanco);
    margin-top: 10px;
}

#opcionesPerfil {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 125px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
}

.mostrar {
    transform: translateY(40px);
}

#accesoPerfil, #cerrarSesion {
    width: 200px;
    height: 32px;
    filter: drop-shadow(3px 3px 4px #9C9898);
    background-color: var(--blanco);
    stroke-width: 1px;
    stroke: #000;
    color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: solid 0.5px var(--negro);
}

#contenedorCarrera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type="submit"] {
    width: 172px;
    height: 40px;
    background-color: var(--primero);
    box-shadow: none;
    border-color: var(--negro);
    position: relative;
}

#datos {
    display: flex;
    gap: 50px;
    margin-bottom: -30px;
}

#divisoriaCentral {
    position: relative;
    top: 7%;
    width: 2px;
    height: 84%;
    background-color: var(--blanco);
}

#divisoriaInferior {
    z-index: 1;
    width: 90%;
    height: 2px;
    background-color: var(--blanco);
}

input, select {
    color: var(--negro);
    width: 271px;
    height: 36px;
    border-radius: 5px;
    background: var(--blanco);
    box-shadow: 3px 3px 4px 0px #9C9898;
    font-family: 'Inknut Antiqua', serif;
}

#servicios {
    width: 271px;
    height: 130px;
    border-radius: 5px;
    background: var(--blanco);
    box-shadow: 3px 3px 4px 0px #9C9898;
    font-family: 'Inknut Antiqua', serif;
}

input[type="submit"] {
    width: 172px;
    height: 40px;
    background-color: var(--primero);
    box-shadow: none;
    border-color: var(--negro);
}

li {
    padding: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

ul {
    padding: 0;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}

#opcionesPerfil {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 210px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
}

.mostrar {
    transform: translateY(40px);
}

#accesoPerfil, #cerrarSesion {
    width: 200px;
    height: 32px;
    filter: drop-shadow(3px 3px 4px #9C9898);
    background-color: var(--blanco);
    stroke-width: 1px;
    stroke: #000;
    color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: solid 0.5px var(--negro);
}

#error {
    background-color: rgba(255, 0, 0, 0.8);
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    width: 230px;
    height: fit-content;
    position: absolute;
    top: 46%;
    right: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    #logoTitulo {
        gap: 20px;
    }

    header {
        gap: 10%;
    }

    #perfil {
        gap: 2px;
    }

    footer h2 {
        left: 5%;
    }

    #icons {
        gap: 15px;
    }
}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        gap: 20%;
    }

    #perfil {
        gap: 5px;
    }

    footer h2 {
        left: 10%;
    }

    #icons {
        gap: 30px;
    }
}

/* Estilos para ordenadores */
@media only screen and (min-width: 1025px) {
    header {
        gap: 38%;
    }

    #perfil {
        gap: 5px;
    }

    footer h2 {
        left: 11.5%;
    }

    #icons {
        gap: 30px;
    }
}
